{% extends "base.html" %}
{% block content %}
    <aside>
        <p>Henlo. I am ramona.</p>
        <!-- <nav class="table-of-contents">
            <ul>
                <li>
                    <a href="#">Second level  Header</a>
                    <ul>
                        <li><a href="#">Third level header wtf</a></li>
                    </ul>
                </li>
                <li><a href="#">Second level header again</a></li>
            </ul>
        </nav> -->
    </aside>
    <section class="main">
        {% for post in posts %}
        <article>
            <h1><a href="/posts/{{ post.id}}">{{ post.title }}</a></h1>
        </article>
        {% endfor %}
    </section>
{% endblock %}